@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Reseta padding e margin para todos os elementos e define a fonte padrão */
* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    position: relative; /* Necessário para o posicionamento absoluto do menu mobile */
}

/* Estilo da barra de navegação */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center; /* Alinha verticalmente o conteúdo */
}

/* Estilo do logo */
.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

/* Estilo da lista de navegação */
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none; /* Remove os pontinhos da lista */
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

/* Estilo do botão de login */
.login-button button {
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Estilo do ícone do menu mobile */
.mobile-menu-icon {
    display: none;
}

/* Estilo do menu mobile */
.mobile-menu {
    display: none; /* O menu mobile está oculto por padrão */
    flex-direction: column;
    align-items: center; /* Centraliza o menu quando exibido */
    padding: 1rem;
    position: absolute;
    top: 100%; /* Posiciona o menu logo abaixo do cabeçalho */
    left: 0;
    right: 0;
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens da lista */
    list-style: none; /* Remove os pontinhos da lista */
    margin: 0;
    padding: 0;
}

.mobile-menu .nav-item {
    padding-top: 1.2rem;
}

.mobile-menu .login-button {
    padding: 1rem 2rem;
    margin-top: 1rem; /* Adiciona margem superior para separar do conteúdo acima */
}

.mobile-menu .login-button button {
    width: 100%;
}

/* Exibe o menu mobile somente quando a classe 'open' é aplicada */
.mobile-menu.open {
    display: flex; /* Exibe o menu quando está aberto */
}

@media screen and (max-width: 730px) {
    /* Ajuste do padding da barra de navegação em telas pequenas */
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    /* Esconde a lista de navegação e o botão de login em telas pequenas */
    .nav-list {
        display: none;
    }
    .login-button {
        display: none;
    }
    
    /* Exibe o ícone do menu mobile em telas pequenas */
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.market-list-section {
    padding: 2rem 6rem;
    background-color: #f4f4f4;
    margin-top: 2rem;
    box-shadow: 0px 3px 10px #ccc;
    text-align: center;
}

.market-list-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

/* Estilo das linhas do formulário */
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Estilo dos grupos de formulário */
.form-group {
    flex: 1;
    min-width: 200px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Estilo do botão do formulário */
.form-group button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0187a7;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    margin-top: 1rem; /* Adiciona uma margem superior para separar do conteúdo acima */
}

.form-group button:hover {
    background-color: #016d89;
}

@media screen and (max-width: 730px) {
    /* Ajuste do padding da seção de lista de mercado em telas pequenas */
    .market-list-section {
        padding: 2rem 2rem;
    }
    
    /* Ajuste das linhas do formulário em telas pequenas */
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }
}

/* Estilo da seção de itens adicionados */
.item-display-section {
    padding: 2rem 6rem;
    background-color: #f9f9f9;
    margin-top: 2rem;
    box-shadow: 0px 3px 10px #ccc;
    text-align: center;
}

.item-display-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}

/* Estilo das notas fiscais */
.item-display-section .item {
    background-color: #ffffe0; /* Cor de fundo amarelo claro */
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.item-display-section .item button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.item-display-section .item button:hover {
    background-color: #cc0000;
}

.total-display-section {
    padding: 2rem 6rem;
    background-color: #f4f4f4;
    margin-top: 2rem;
    box-shadow: 0px 3px 10px #ccc;
    text-align: center;
}

.total-display-section h2 {
    font-size: 1.8rem;
    color: #333;
}

.total-display-section #total-value {
    font-weight: bold;
    color: #0187a7;
}
